
@font-face {
  font-family: "VIC-Regular";
  font-style: normal;
  src: url("./fonts/VIC-Regular.eot");
  src: url("./fonts/VIC-Regular-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Regular.woff2") format("woff2"),
       url("./fonts/VIC-Regular.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VIC-SemiBold";
  font-style: normal;
  src: url("./fonts/VIC-SemiBold.eot");
  src: url("./fonts/VIC-SemiBold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-SemiBold.woff2") format("woff2"),
       url("./fonts/VIC-SemiBold.woff") format("woff"),
       url("./fonts/VIC-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "VIC-Bold";
  font-style: normal;
  src: url("./fonts/VIC-Bold.eot");
  src: url("./fonts/VIC-Bold-iefix.eot?#iefix") format("embedded-opentype"),
       url("./fonts/VIC-Bold.woff2") format("woff2"),
       url("./fonts/VIC-Bold.woff") format("woff"),
       url("./fonts/VIC-Bold.ttf") format("truetype");
}

.navbar{
  background-image: url("header_background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar.navbar-default ul li{
  counter-increment: tabIndex;
}

.navbar.navbar-default ul.nav.navbar-nav>li>a{
  padding: 0;
  margin: 8px;
}

.navbar.navbar-default ul.nav.navbar-nav>li>a.active{
  color:#FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.navbar-default .navbar-nav>li>a::before{
  /*content: "\203A\A0";*/
  content:counter(tabIndex);
  font-size: 2rem;
  padding: 0 8px 0 0;
  vertical-align: -10%;
}

.advancedContent.bordered{
  border: 1px solid var(--bs-secondary);
  border-radius: 5px;
  padding: 15px;
}


.material-switch>label:after, .material-switch>label:before{
  margin-top: -13px;
}

.pretty .state label:before, .pretty .state label:after{
  top: calc((0% - (100% - 1em)) - 9%);
}

#ss-connect-dialog {
  top: 50px !important;
  bottom: auto !important;
}
